#showcase.row
  = render :partial => 'layouts/nav'
  %h1 Baby Brewster
  %h2 Your personalized address book
  %h3 (So long as all of your contacts are in facebook)
#content.row
  %h1 Do a little of everything with baby brewster
